{% extends "base.html"%}
{% block content %}

<h1>Proyectos</h1>

{% for project in projects %}

<div>

    <h2>⚫ {{project.name}}</h2>
    <p>🚩{{project.description}}</p>
    <p>🟢 Fecha Inicio: {{project.date_start}}</p>
    <p>🔴 Fecha Limite: {{project.date_end}}</p>
    <form action="{% url 'Marcar_tarea' task_id=project.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn">
            {% if project.completada == False %}
            <span>❌</span>
            {% else %}
            <span>✅</span>
            {%endif%}
        </button>
    </form>
    
    {% if project.completada == False %}
    <p>Tarea Sin Finalizar</p>
    {% else %}
    <p>Tarea Finalizada</p>
    {%endif%}
    
    <form action="{% url 'Actualizar_Tarea' task_id=project.id %}" method="get">
        <button type="submit" class="btn">Actualizar Tarea</button>
    </form>
    <form action="{% url 'Eliminar_Tarea' id=project.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn">Eliminar Tarea</button>
    </form>

</div>

{% endfor %}
{% endblock%}
